@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --secondary-color: #D4D4D4;
  --background-color: #F2F2F2;
  --accent-color: #515151;
  --text-color: #343434;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(to right, #e0f7fa, #f0f0f0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
}

h1 {
  font-family: 'Lobster', sans-serif;
  color: white;
  margin: 1rem;
}

.toy-container {
  background: linear-gradient(to right, #E74C3C, #ff7b6c);
  border: solid 4px var(--accent-color);
  border-radius: 20px;
  padding: 1rem 4rem 1rem 4rem;
  text-align: center;
}

.toy-container.shaking {
  animation: shake 0.5s;
}

.grid-border {
  border: solid 4px var(--text-color);
  background: transparent;
  border-radius: 20px;
  overflow: hidden;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 1px;
  width: 100vw;
  height: 90vw;
  max-width: 600px;
  max-height: 600px;
  background-color: var(--background-color);
}

.grid-item {
  background-color: #fff;
  border: 1px solid #eee;
  height: 100%;
  width: 100%;
  transition: 300ms;
}

.grid-item.erasing {
  transition: background-color 0.5s ease-in-out;
}

.toy-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  color: var(--text-color);
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.1s, box-shadow 0.1s;
  font-family: 'Arial', sans-serif;
}


.btn:hover {
  cursor: pointer;
}

.btn:active {
  transform: translateY(2px);
  transition: transform 0.1s;
}

.size-controls {
  display: flex;
  gap: 1rem;
}


@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}