body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
}

.toy-container {
  background-color: #ec652b;
  border: solid 4px #ee7e41;
  border-radius: 20px;
  padding: 4rem 4rem 0 4rem;
}

.toy-container.shaking {
  animation: shake 0.5s;
}

.grid-border {
  border: solid 4px #d95d26;
  background: transparent;
  border-radius: 20px;
  overflow: hidden;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 1px;
  width: 90vw;
  height: 90vw;
  max-width: 600px;
  max-height: 600px;
  background-color: #ddd;
  transition: 500ms ease-in-out;
}


.grid-item {
  background-color: #fff;
  border: 1px solid #eee;
  height: 100%;
  width: 100%;
  transition: 300ms;
}

.grid-item.erasing {
  transition: background-color 0.5s ease-in-out;
}

.toy-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.toy-controls button {
  padding: 1rem;
  border: solid 0px 1px 2px 1px;
  border-radius: 10px;
  color: #86a6c2;
  background-color: white;
  box-shadow: 0 4px #999;
  transition: transform 0.1s, box-shadow 0.1s;
}

.toy-controls button:hover {
  cursor: pointer;
}

.toy-controls button:active {
  transform: translateY(4px);
  box-shadow: 0 2px #999;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}